<div class="front">

  <!-- Title -->
  <h1 class="title">
    Create a new Account!
    <h4>Join our Stop Delaying app now!</h4>
  </h1>

  <!-- Mid-section form fields -->
  <form>

    <mat-form-field>
      <input matInput placeholder="New Username">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>

    <button mat-raised-button color="primary">Create Account</button>

  </form>

  <!-- Links -->
  <div class="linkfield">
    <button mat-button color="primary" (click)="loginLink()">Go back to Login!</button>
  </div>

</div>
