// Frontpage design
.front {
    margin-top: 100px;
    min-width: 150px;
    max-width: 300px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;

    .icon {
        color: #3f51b5;
        font-size: 24px;
    }

    // Title of the front pages
    .title {
        color: #3f51b5;
    }

    // form-mid section design
    form {
        margin-top: 30px;

        mat-form-field {
            width: 100%;
        }

        button {
            width: 100%;
        }
    }

    // Link fields below the form
    .linkfield {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}