@import '~@angular/material/prebuilt-themes/indigo-pink.css';
.example-form {
    min-width: 150px;
    max-width: 300px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px
}

.front-page-form {
    margin-top: 50px;
}

.example-full-width {
    width: 100%;
}

.button-row {
    width: 100%;
}

.registerfield {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}